{% extends "traction_app/base.html" %}
{% block content %}
    <h1>Tracked Items</h1>
    <ul>
        {% for item in tracked_items %}
            <li class="mb-1">
                {{ item.name }}
                <a class="btn btn-danger"
                href="{% url 'traction-home' %}?ritem={{ item.name }}">
                Remove
                </a>
            </li>
        {% endfor %}
    </ul>
    <h1>Add Items</h1>
    <form action="{% url 'search' %}" method="get">
        <input class="form-control" name="q" type="text" placeholder="Search" aria-label="Search">
    </form>
{% endblock content %}
